@import "tailwindcss";

@theme {
  --font-sans: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-mono: "Consolas", Menlo, Monaco, monospace;
  --font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
}
